.HeaderBottom{
    background-color: #12062b;
    width: 100%;
    padding: 20px; 
    padding-top: 80px;
    .HeaderBottomMain{
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .HeaderBottomCard{
            border-radius: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 140px;
            height: 140px;


        .HeaderBottomBlockRing{
            border-width: 1px;
            border-style: solid;
            border-radius: 50%;
            width: 76px;
            height: 77px;   
            img{
                width: 100%;
            }
            color: #0000002a;
        }
    }
}