.FreeСase{
    nav{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
        a{
            padding: 18px 30px;
            border: solid 1px #8b2ca5;
            border-radius: 18px;
        }
    }
    .FreeCaseMain{
        display: flex;
        margin-top: 50px;
        // justify-content: space-between;
        flex-wrap: wrap;
        gap: 43px;
        .FreeCaseCard{
            font-size: 14px;
            width: fit-content;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 15px;
            
            border-radius: 18px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
            background: linear-gradient(-45deg, #5d2583 0%, rgb(40 20 82) 35%,  rgb(40 20 82) 65%,  #5d2583 100%);
            .price{
                padding: 5px 30px;
                border: #8b2ca5 solid 1px;
                width: fit-content;
                border-radius: 18px;
                box-shadow: 0 0 10px #972eb4;
            }
        }
    }
}
@media(max-width:1300px){
    .FreeCaseMain{
        gap: 60px;
    }
}
@media(max-width:1050px){
    .FreeCaseMain{
        gap: 47px!important;
    }
    .FreeСase .FreeCaseMain .FreeCaseCard{
        padding: 35px;
    }
}