* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background:#180838 url(./img/background.png);
  color: white;
  background-position:top center;
}
a{
  color: white;
  text-decoration: none;
}
.mainWidht{
  width: 1200px;
  margin: auto;
}
.orangeBtn{
  border: none;
  color: white;
  background: linear-gradient(45deg, #b4550a 0%,  #de7c2f 100%);
  padding: 14px 40px 14px 60px;
  border-radius: 17px;
  display: flex;
  gap: 10px;
  align-items: center;
}
h2{
  text-align: center;
}
span.orange{
  color: #ed771b;
}

@media(max-width:1300px){
    .mainWidht{
      width: 1000px;
    }
    .App{
      padding-top: 20px;
    }
}
@media(max-width:1050px){
    .mainWidht{
      width: 800px;
    }
    .App{
      padding-top: 20px;
    }
}